<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjcloud.stadium.dao.impl.StadiumTicketDaoImpl">
	<sql id="t_ticket">stadium_ticket</sql>

	<insert id="insert" parameterType="stadiumTicket">
		<selectKey resultType="string" order="BEFORE" keyProperty="id">
			SELECT REPLACE(UUID(), '-', '')
		</selectKey>
		INSERT INTO <include refid="t_ticket" /> (ID,
		<trim suffixOverrides=",">
			<if test="stadiumItemId != null">
				stadiumItemId,
			</if>
			<if test="ticketName != null">
				ticketName,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="quantityLimited != null">
				quantityLimited,
			</if>
			<if test="quantityPerDay != null">
				quantityPerDay,
			</if>
			<if test="timeLimited != null">
				timeLimited,
			</if>
			<if test="hours != null">
				hours,
			</if>
			<if test="validBeginDate != null">
				validBeginDate,
			</if>
			<if test="validEndDate != null">
				validEndDate,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="disable != null">
				disable,
			</if>
			<include refid="com.tjcloud.data.mapper.inscolumn"/>
		</trim>
		) VALUES (#{id},
		<trim suffixOverrides=",">
			<if test="stadiumItemId != null">
				#{stadiumItemId},
			</if>
			<if test="ticketName != null">
				#{ticketName},
			</if>
			<if test="price != null">
				#{price},
			</if>
			<if test="quantityLimited != null">
				#{quantityLimited},
			</if>
			<if test="quantityPerDay != null">
				#{quantityPerDay},
			</if>
			<if test="timeLimited != null">
				#{timeLimited},
			</if>
			<if test="hours != null">
				#{hours},
			</if>
			<if test="validBeginDate != null">
				#{validBeginDate},
			</if>
			<if test="validEndDate != null">
				#{validEndDate},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
			<if test="disable != null">
				#{disable},
			</if>
			<include refid="com.tjcloud.data.mapper.insparam"/>
		</trim>
		)
	</insert>

	<update id="update" parameterType="stadiumTicket">
		UPDATE <include refid="t_ticket" />
		<trim prefix="SET" suffixOverrides=",">
			<if test="stadiumItemId != null">
				stadiumItemId = #{stadiumItemId},
			</if>
			<if test="ticketName != null">
				ticketName = #{ticketName},
			</if>
			<if test="price != null">
				price = #{price},
			</if>
			<if test="quantityLimited != null">
				quantityLimited = #{quantityLimited},
			</if>
			<if test="quantityPerDay != null">
				quantityPerDay = #{quantityPerDay},
			</if>
			<if test="timeLimited != null">
				timeLimited = #{timeLimited},
			</if>
			<if test="hours != null">
				hours = #{hours},
			</if>
			<if test="validBeginDate != null">
				validBeginDate = #{validBeginDate},
			</if>
			<if test="validEndDate != null">
				validEndDate = #{validEndDate},
			</if>
			<if test="remark != null">
				remark = #{remark},
			</if>
			<if test="disable != null">
				disable = #{disable},
			</if>
			<include refid="com.tjcloud.data.mapper.update"/>
		</trim>
		 WHERE id = #{id}
	</update>

	<update id="lock" parameterType="string">
		UPDATE <include refid="t_ticket" />
		   SET LOCKED = 1
		 WHERE LOCKED = 0
		   AND id = #{id}
	</update>

	<update id="unlock" parameterType="string">
		UPDATE <include refid="t_ticket" />
		   SET LOCKED = 0
		 WHERE LOCKED = 1
		   AND id = #{id}
	</update>

	<delete id="deleteById" parameterType="string">
		DELETE FROM <include refid="t_ticket" />
		 WHERE id = #{id}
	</delete>

	<select id="getById" parameterType="string" resultType="stadiumTicket">
		SELECT * FROM <include refid="t_ticket" />
		 WHERE id = #{id}
	</select>

	<select id="listBy" parameterType="map" resultType="stadiumTicket">
		<include refid="listSQL" />
	</select>

	<select id="listPage" parameterType="map" resultType="stadiumTicket">
		<include refid="listSQL" />
		<if test="pageFirst != null">
			LIMIT #{pageFirst}, #{pageSize}
		</if>
	</select>

	<select id="listPageCount" parameterType="map" resultType="long">
		SELECT COUNT(1) FROM <include refid="t_ticket" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

	<sql id="listSQL">
		SELECT * FROM <include refid="t_ticket" />
		<where>
			<include refid="condition_sql" />
		</where>
		ORDER BY id DESC
	</sql>
   
	<sql id="condition_sql">
		<trim prefixOverrides="AND | OR">
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="stadiumItemId != null">
				AND stadiumItemId = #{stadiumItemId}
			</if>
			<if test="ticketName != null">
				AND ticketName = #{ticketName}
			</if>
			<if test="price != null">
				AND price = #{price}
			</if>
			<if test="quantityLimited != null">
				AND quantityLimited = #{quantityLimited}
			</if>
			<if test="quantityPerDay != null">
				AND quantityPerDay = #{quantityPerDay}
			</if>
			<if test="timeLimited != null">
				AND timeLimited = #{timeLimited}
			</if>
			<if test="hours != null">
				AND hours = #{hours}
			</if>
			<if test="validBeginDate != null">
				AND validBeginDate = #{validBeginDate}
			</if>
			<if test="validEndDate != null">
				AND validEndDate = #{validEndDate}
			</if>
			<if test="remark != null">
				AND remark = #{remark}
			</if>
			<if test="disable != null">
				AND disable = #{disable}
			</if>
			<include refid="com.tjcloud.data.mapper.condition"/>
		</trim>
	</sql>
</mapper>